<form class="flex flex-col gap-4 items-stretch" [formGroup]="registerForm">
  <input
    name="name"
    type="text"
    pInputText
    autocomplete="off"
    placeholder="Nombre completo"
    formControlName="name"
  />
  <input
    name="email"
    type="email"
    pInputText
    autocomplete="off"
    placeholder="Correo electrónico"
    formControlName="email"
  />
  <p-password
    name="password"
    [toggleMask]="true"
    autocomplete="off"
    placeholder="Contraseña"
    class="[&>*>input]:w-full [&>*]:w-full"
    formControlName="password"
  />
  <p-password
    name="passwordConfirm"
    [toggleMask]="true"
    autocomplete="off"
    class="[&>*>input]:w-full [&>*]:w-full"
    placeholder="Confirmar contraseña"
    formControlName="passwordConfirm"
  />
  <input
    name="phone"
    type="text"
    pInputText
    autocomplete="off"
    placeholder="Teléfono"
    formControlName="phone"
  />
  <p-calendar
    formControlName="birthday"
    name="birthday"
    [maxDate]="maxDate"
    class="[&>*]:w-full"
    dateFormat="dd/mm/yy"
    placeholder="Fecha de nacimiento"
  />
  <p-button
    label="Registrar"
    autocomplete="off"
    class="self-center"
    [disabled]="registerForm.invalid"
    (onClick)="register()"
    [loading]="isLoading"
  />
</form>
