<ng-template *ngIf="isLoading && pokemons.length === 0; else content">
  <div class="flex justify-center items-center h-96 w-full">
    <p-progressSpinner
      styleClass="w-12 h-12"
      strokeWidth="4"
    ></p-progressSpinner>
  </div>
</ng-template>
<ng-template #content>
  <div class="flex flex-col">
    <div class="flex flex-row items-center self-end mb-8 gap-8">
      <p-progressSpinner
        styleClass="w-8 h-8"
        strokeWidth="4"
        *ngIf="isLoading || isSearching"
      ></p-progressSpinner>
      <input
        pInputText
        type="text"
        placeholder="Buscar..."
        class="self-end"
        [(ngModel)]="searchValue"
        (ngModelChange)="this.searchDebounce.next($event)"
      />
    </div>
    <p-messages
      *ngIf="!isSearching && !pokemons.length"
      [enableService]="false"
      [closable]="false"
      [value]="[
        {
          severity: 'error',
          summary: 'Error',
          detail: 'No se ha encontrado el pokemon'
        }
      ]"
    />
    <div
      class="grid md:grid-cols-2 xl:grid-cols-4 gap-4 mb-8"
      *ngIf="!isSearching"
    >
      <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon" />
    </div>

    <p-paginator
      (onPageChange)="changePage($event)"
      [first]="first"
      [rows]="pageSize"
      [totalRecords]="totalPages"
      [rowsPerPageOptions]="[20, 40]"
    ></p-paginator>
  </div>
</ng-template>
