<p-card
  class="[&>*>*]:p-0 [&>*>*>*]:p-0 [&>*]:hover:shadow-xl [&>*]:transition-shadow cursor-pointer"
  (click)="isOpen = true"
>
  <div class="flex flex-row gap-4 items-center">
    <img
      src="{{ pokemon.sprites.front_default }}"
      alt="{{ pokemon.name }}"
      class="w-24 h-24"
    />
    <div>
      <div class="flex flex-row gap-2">
        <h3 class="my-0 mb-2">{{ pokemon.name }}</h3>
        <div>#{{ pokemon.id | number : "3.0-0" }}</div>
      </div>
      <div class="flex flex-row gap-4">
        <p-chip
          *ngFor="let type of pokemon.types"
          [label]="type.type.name"
          [style]="{
            'background-color': TypeColors[type.type.name],
            color: 'white'
          }"
        />
      </div>
    </div>
  </div>
</p-card>
<p-dialog
  [header]="pokemon.name"
  [(visible)]="isOpen"
  [style]="{ width: '250px' }"
  [modal]="true"
>
  <img
    src="{{ pokemon.sprites.front_default }}"
    alt="{{ pokemon.name }}"
    class="w-full aspect-square"
  />
  <div class="flex flex-col gap-4 items-center">
    <div class="flex flex-col gap-2 items-center">
      <div class="flex flex-row gap-2">
        <h3 class="my-0 mb-2">{{ pokemon.name }}</h3>
        <div>#{{ pokemon.id | number : "3.0-0" }}</div>
      </div>
      <div class="flex flex-row gap-4">
        <p-chip
          *ngFor="let type of pokemon.types"
          [label]="type.type.name"
          [style]="{
            'background-color': TypeColors[type.type.name],
            color: 'white'
          }"
        />
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-2">
        <div>Altura:</div>
        <div>{{ pokemon.height / 10 | number : "1.1-1" }} m</div>
      </div>
      <div class="flex flex-row gap-2">
        <div>Peso:</div>
        <div>{{ pokemon.weight / 10 | number : "1.1-1" }} kg</div>
      </div>
    </div>
  </div>
</p-dialog>
